@import "../../styles.scss";

@font-face {
    font-family: 'Poppins-Regular';
    src: url(../../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url(../../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url(../../assets/fonts/Poppins-Bold.ttf);
}
:host{
    display: flex;
    flex-direction: row;
    background-color: #302E3A;
    z-index: 3;
    font-family: 'Poppins-Regular';
}
header{
    width: 60vw;
    height: 14vh;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo, a{
    text-decoration: none;
}
a{
    color:white;
}
.logo{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
.logo a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
}
#logo-img{
    width: 3rem;
}
nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 2vw;
    font-size:16px
}
nav a:hover{
    color: #adadad;

}
@media screen and (max-width:768px){
    header{
        width: 80vw;
        margin-left: 10%;
        margin-right: 10%;
        gap: 8%;
    }
    nav{
        justify-content: space-around;
        gap: 4vw;
    }
}