<section>
    <div class="join-section">
        <div class="join-content">
            <h5>Join the <strong>fun.</strong></h5>   
        </div>
        
        <div class="form-content">
            <form action="#" method="get">
                <div class="form-inputs">
                    <label for="username">Name:</label> <!--sirve para poner una etiqueta a un input-->
                    <input type="text" name="username" id="username" class="input">
                </div>
                <div class="form-inputs">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" class="input">
                </div>
                <div class="form-inputs">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" class="input" required> <!--En los inputs, el atr "name" mostrara el valor del input al URL-->
                </div>
                <button type="submit" id="form-button">Join now</button>
            </form>
        </div>
    </div>
    <span id="dot1"></span>
    <span id="dot2"></span>  
</section>
<app-footer></app-footer>