<footer>
    <div class="footer-content">
        <div class="footer-navigation">
            <a [routerLink]="['/about-us']">About us</a>
            <a [routerLink]="['/contact']">Contact</a>
        </div>
        <div class="footer-social-media">
            <a href="https://twitter.com"><img src="../../assets/twitter.svg" id="twitter-logo" alt="logo twitter"></a>
            <a href="https://twitter.com">Twitter</a>
            <a href="https://www.facebook.com"><img src="../../assets/facebook.svg" id="facebook-logo" alt="logo facebook"></a>
            <a href="https://www.facebook.com">Facebook</a>
        </div>
    </div>   
</footer>