<section>  
    <div class="discover-content">
        <h3>Discover new music</h3>
        <div class="discover-icons">
            <div class="discover-icons-content">
                <img src="../../assets/microphone.svg" alt="microphone icon">
                <p>Charts</p>
            </div>
            <div class="discover-icons-content">
                <img src="../../assets/albums.svg" alt="albums icon">
                <p>Albums</p>
            </div>
            <div class="discover-icons-content">
                <img src="../../assets/more.svg" alt="more icon">
                <p>More</p>
            </div>
            
        </div>
        <h4>By joining you can benefit by listening to the latest albums released.</h4>
        
    </div>
    
    <div class="discover-img">
        <img src="../../assets/covers.jpg" alt="cover image">
    </div>
</section>
<app-footer></app-footer>